
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

main {
  margin-top: 285px;
  text-align: center;
}

h1 {
    color: #025157;
    font-family: "Alegreya", serif;
    font-size: 30px;
    margin-bottom: 24px;
  }

  h4 {
   color: #46484c;
  }

  p {
    color: #8b8b8bcc;
  }

  button {
   background-color:#025157; color: #fff;
  }

  body {
    background-color: #fffbf7;
  }

.header {
 display: flex;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 background-color: #fffbf7;
 z-index: 1030;
 justify-content: space-between;
 align-items: center;
 font-family: sans-serif;
 padding: 1rem;
}

.navbar {
  width: 70%;
  color: #025157;
  font-weight: 500;
  text-align: center;
}

.menu-item {
  display: inline;
  margin-right: 25px;
  margin-left: 25px;
}

.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.action > *{
  margin-right: 10px;
  margin-left: 10px;
}

.actions a {
  color: #67b54b;
}

.actions button {
 color: white;
 background-color: #67b54b;
 padding-left: 14px;
 padding-right: 14px;
 padding-top: 12px;
 padding-bottom: 12px;
 border: 0;
 border-radius: 5px;
}

main {
  margin-top: 285px;
  text-align: center;
}

li {
  display: inline;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

.logo {
  width: 15%;
}

.logo > img {
  height: 100%;
}
.promo {
  display: flex;
  width: 70%;
  margin: 100 px auto;
  align-items: center;
}

.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 120px;
  margin-top: 10px;
}

.features {
  display: grid;
  grid-template-columns:  repeat(2, 1fr);
  grid-template-rows: repeat(2, 330px);
  background-color: #025157;
  padding: 5% 10%;
}

.features .feature-content{
  border-radius: 2%;
  margin: 30px 15px 15px 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.features .feature-content .feature-card{
  margin: 5%;
  flex: 2;
}

.features .feature-content .feature-image{
  flex: 1;
}

.features .feature-content .feature-card img{
  width: 50px;
  margin-left: -20%;
}

.features .feature-content .feature-card h3{
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.features .feature-content .feature-card p{
  font-family: sans-serif;
  color: #737373;
  font-weight: 400;
}

.features .feature-content .feature-card a{
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.feature-image{
  border: 1px solid #C00;
  height: 80%;
}



.growing {
  background-color: #a1d683;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overview{
  margin: 30px 50px;
}

.overview > h2{
  font-family: 'Dela Gothic One', cursive;
  font-size: 35px;
  font-weight: 0px;
  color: #025157;
}

.overview p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

.overview button {
  color:#fff;
  background-color: #025157;
  padding: 15px 20px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
}

.carrusel img{
  
}